@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Common Colors */

:root {
    --black: #2D2D2D;
    --lightgreen: #abd373;
    --green: #699B5C;
    --yellow: #f5e05b;
    --blue: #0A68D4;
    --lightblue: #00BFFF;
    --transparent: #b4b4b41f;
    --card-border: rgb(221, 221, 221);
    --grey: #cac8c8;
}

html,
body {
    overflow-x: clip;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

/* Common Elements */
.btn {
    box-shadow: none;
}

.btn:hover {
    box-shadow: none;
}

.btn:focus {
    box-shadow: none;
}

.para-text {
    font-size: 0.9rem;
}

.cursor-pointer {
    cursor: pointer;
}

@media (max-width: 991px) {
    .mobile-hide {
        display: none;
    }
}

.text-yellow {
    color: var(--yellow);
}

.text-green {
    color: var(--lightgreen);
}

/* Header Section */
.header1-bg {
    background-color: var(--lightgreen);
    color: white;
    padding: 0.6rem 0rem;
}

.header1-text {
    font-size: 0.9rem;
    letter-spacing: 1.01px;
    text-transform: uppercase;
}

/* Header 2 Section */
.header2-bg {
    background-color: white;
}

.header2-icon {
    background-color: var(--lightgreen);
    border-radius: 10px;
    padding: 0.8rem;
    color: white;
}

.header2-link-area {
    display: inline-flex;
}


.header2-link {
    color: var(--black);
    text-decoration: none;
    cursor: pointer;
    /* padding-top: 0.5rem; */
}

.header2-link:hover {
    color: var(--green);
}

@media (max-width: 991px) {
    .header2-link-area {
        display: none;
    }

    /* .header2-bg{
        display: flex;
    } */
}

/* Navbar Section */
.navbar {
    /* box-shadow: none; */
    background-color: white;
    border-top: 1px solid var(--card-border);
}

.dropdown:hover .dropdown-menu {
    display: block;
    padding: 0;
    border: none;
}

.dropdown-item {
    padding: 0.3rem 0.8rem;
    transition: all 0.2s linear;
}

.dropdown-item:hover {
    background-color: white;
    color: var(--green);
    padding: 0.3rem 0.8rem 0.3rem 1rem;
}

.dropdown-toggle::after {
    display: none;
}

.nav-text {
    font-size: 0.9rem;
    color: var(--black);
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 1.5rem;
    padding: 1.05rem 0rem;
    position: relative;
}

.nav-text:hover {
    color: var(--green);
}

.nav-text:hover::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    animation: slide-out 0.3s linear forwards;
    border-bottom: 1px solid var(--lightgreen);
}

@keyframes slide-out {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.navbar .navbar-toggler {
    box-shadow: none;
}

.sidenav-btn {
    background-color: white;
    border: none;
    box-shadow: none;
    display: none;
}

@media (max-width: 991px) {
    .navbar {
        display: none;
    }

    .sidenav-btn {
        display: block;
    }
}

/* Mobile navbar section */
#fullnavDiv {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    padding: 4rem 2rem;
    display: none;
    background-color: var(--black);
}

#close-btn {
    position: absolute;
    top: 2%;
    right: 2%;
    color: white;
}

.mydropdown-content {
    display: none;
}

/* Carousel Section */
.carousel-left {
    background-image: url("../images/carousel-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 8rem 4rem;
}

.carousel-hr {
    color: var(--lightgreen);
    padding: 1.3px 0px;
    width: 4.5rem;
    opacity: 1;
    border-radius: 10px;
}

.read-btn {
    background-color: var(--lightgreen);
    color: white;
    border-radius: 50px;
    padding: 1rem 2rem;
}

.read-btn:hover {
    background-color: var(--black);
    color: white;
}

@media (max-width: 1198px) {
    .carousel-left {
        padding: 5rem 4rem;
    }
}

@media (max-width: 991px) {
    .carousel-left {
        padding: 3rem;
    }
}

/* Carousel Right Section */
.carousel .carousel-control-prev-icon,
.carousel-control-next-icon {
    background: none;
}

.carousel .carousel-control-prev-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--black);
    width: 3rem;
    height: 3rem;
    padding: 0.4rem 0rem;
}

.carousel .carousel-control-next-icon {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--lightgreen);
    width: 3rem;
    height: 3rem;
    padding: 0.4rem 0rem;
}

/* Banner Section */

.banner-area {
    position: relative;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

.banner-text-center {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

/* Products Section */
.filterDiv {
    display: none;
    /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

/* Style the buttons */
.profilter-btn {
    border: 1px solid var(--card-border);
    color: var(--black);
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

/* Add a light grey background on mouse-over */
.profilter-btn:hover {
    border: 1px dashed var(--green);
    color: var(--green);
}

/* Add a dark background to the active button */
.profilter-btn.active {
    border: 1px dashed var(--green);
    color: var(--green);
}

@media (max-width: 392px) {
    .profilter-btn {
        padding: 0.4rem 0.8rem;
        font-size: 0.7rem;
    }
}

.cart-area {
    position: relative;
}

.view-icon {
    position: absolute;
    top: 55%;
    left: 10%;
    background-color: white;
    padding: 0.6rem;
    box-shadow: 1px 1px 4px var(--black);
    display: none;
    /* referring directly to the animation's @keyframe declaration */
    animation: slideInLeft;
    animation-duration: 0.5s;
}

.cart-area:hover .view-icon {
    display: block;
    cursor: pointer;
}

/* Video Section */
.video-area {
    box-shadow: 0px 0px 16px 1px var(--grey);
    padding: 0.6rem;
    position: relative;
}

.video-content {
    position: absolute;
    top: 25%;
    left: 9%;
    padding: 1rem;
    color: white;
}

@media (max-width: 767px) {
    .video-content {
        position: absolute;
        top: 5%;
        left: 0;
        padding: 2rem;
        color: white;
    }
}

/* Counter Section */
.counter-text {
    color: var(--green);
    font-size: 2rem;
    font-weight: 600;
}

/* Latest Products Section */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: start;
}

/* Banner Section */
@media (max-width: 500px) {
    .banner-img {
        height: 16rem;
    }
}

/* Testimonial Section */
.owl-carousel .item {
    margin: 0.5rem;
}

.testimonial-area {
    box-shadow: 2px 2px 8px var(--card-border);
    text-align: start;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    position: relative;
}

.quote-icon {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--lightgreen);
    color: white;
    font-size: 2rem;
    padding: 1.5rem 1.5rem 2rem 2.5rem;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 100px;
    transition: all 0.2s linear;
}

.testimonial-area:hover .quote-icon {
    background-color: var(--black);
}

/* Footer Section */
.footer-bg {
    background-color: #ecfcd6;
}

.footer-text {
    color: var(--black);
    text-decoration: none;
}

.footer-text:hover {
    color: var(--green);
}


/* Scroll to top */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 55px;
    /* Place the button at the bottom of the page */
    right: 15px;
    /* Place the button 30px from the right */
    border: none;
    background-color: transparent;
    z-index: 99;
    /* Make sure it does not overlap */
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    font-size: 1.1rem;
    /* Increase font size */
    transition: all 0.2s linear;
    /* animation: 1s ease-out 0.5s infinite grow; */
}

.scroll-btn {
    color: white;
    border-radius: 50%;
    padding: 0.8rem 0.9rem;
    transition: all 0.2s linear;
    background-color: var(--lightgreen);
    transition: all 0.2s ease-out;
}

/* About Page */
.about-header-bg {
    background-image: url("../images/about-header-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0rem;
}

/* FAQ page */
.accordion .accordion-item {
    border: 1px solid var(--card-border);
    padding: 0.5rem;
}

.accordion-button {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1.01px;
}

.accordion-button:focus {
    box-shadow: none;
    background-color: white;
    color: var(--lightgreen);
}

/* Blog Page */
.blog-img {
    border-radius: 15px;
    margin: 1rem 0rem;
}

.cat-text {
    color: grey;
}

.cat-text:hover {
    cursor: pointer;
    color: var(--green);
}

/* .cat-text.active{
    color: var(--green);
} */

/* Contact Page */

.contact-area {
    box-shadow: 0px 0px 16px 1px var(--grey);
}

.contact-left {
    background-image: url("../images/contact-bg.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem;
    color: white;
    height: 100%;
}

.contact-icon {
    background-color: white;
    padding: 0.8rem;
    font-size: 1.2rem;
    border-radius: 50%;
    color: var(--lightgreen);
}

.form-control {
    border: none;
    border-bottom: 1px solid var(--card-border);
    padding: 0.5rem 0rem;
    border-radius: 0px;
}

.form-control::placeholder {
    font-style: italic;
}

.form-control:focus{
    box-shadow: none;
}

/* Product Pages */

.product-table td{
    border: 1px solid var(--card-border);
}

.product-table th{
    background-color: var(--lightgreen);
    color: white;
}

.benefit-area{
    display: inline-flex;
    border: 1px solid var(--card-border);
    border-radius: 5px;
    padding: 0.5rem;
    height: 7rem;
    align-items: center;
}

.benefit-icon{
    font-size: 1.8rem;
    color: var(--lightgreen);
    padding-right: 0.4rem;
}

/* Product Image Gallery */
.gallery-container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    border: 1px solid var(--card-border);
  }

  .mySlides img{
    width: 100%;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    bottom: 8%;
    width: auto;
    padding: 0.2rem 0.5rem;
    z-index: 10;
    color: white;
    background-color: var(--black);
    font-size: 20px;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .gallery-row{
    margin-top: 1rem;
  }

  .gallery-row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 3 columns side by side */
  .gallery-col {
    float: left;
    width: 20%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo-img {
    opacity: 0.8;
    width: 100%;
    border: 1px solid var(--card-border);
    cursor: pointer;
  }
  
  .active,
  .demo-img:hover {
    opacity: 1;
    border: 1px solid var(--lightgreen);
  }
  